.hero {
  text-align: center;
  background-color: var(--hero-bcg);
}
.hero__background {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bcg.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--hero-title);
  /* outline: 2px solid orange; */
}
